html, body {
	width: 100%;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #343838;
    background: url('/public/images/bg-small.png');
}

#main {
    width: 80%;
    margin-top: 8%;
    font-family: 'mixit-font-bold';
}
/********* text **********/

h1 {
    text-align: center;
    color: #00ADEE;
    font-size: 120px;
}

h2 {
    text-align: right;
    margin-right:10%;
    margin-top: -8%;
    margin-bottom:6%;
    font-size: 28px;
    color: #00ADEE;
}

li {
    margin-left: 8%;
    line-height: 40px;
}

.image {
    width:40px;
    margin-left:1%;
}

.logo {
    width:65%;
    margin-left:1%;
}

#links {
    text-align: right;
    width:90%;
    /*margin-top:4%;*/
}
/******** font *******/
@font-face {
	font-family: 'mixit-font-bold';
	src: url('http://www.carvalho-bernau.com/jlg/assets/jeanlucweb-bold.eot');
    src: url('http://www.carvalho-bernau.com/jlg/assets/jeanlucweb-bold.woff');
    src: url('http://www.carvalho-bernau.com/jlg/assets/jeanlucweb-bold.otf');
}

.phonetic{
    font-family: Verdana;
    font-size: 20px;
    /*color: #00B4CC*/
    color:#DDD;
}

.def{
    font-family: Verdana;
    color: #00ADEE;
    font-size: 18px
}

/******** nav **********/
#nav{
    text-align:center;
    margin-top:6%;
}

#nav a{
    margin-left:3%;
    text-decoration:none;
    color:#DDD;
    font-family: Verdana;
}

/******** speakers *******/
#speaker {
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
}

#speaker #name {
    color:#008C9E;
    font-family: Verdana;
    font-size:18px;
}

#speaker #bio {
    color:#DDD;
    font-family: Verdana;
    font-size:15px;
}

/******** sessions *******/
#session {
    margin-left:10%;
    margin-top:2%;
}

#session #name {
    color:#008C9E;
    font-family: Verdana;
    font-size:18px;
}

#session #heure {
    color:#DDD;
    font-family: Verdana;
    font-size:15px;
}

#session #infos {
    color:#DDD;
    font-family: Verdana;
    font-size:15px;
}