#{extends 'main.html' /}
#{set title:'Description' /}

#{smallLogo/}

<div id="description">
    <div class="question">Pour qui ?</div>
    <div class="reponse">Pour tous les passionnés et les curieux, aussi bien
        les profils techniques que les agilistes, qui veulent découvrir les sujets d'actualité et échanger.
    </div>
    <br/>

    <div class="question">Quel format ?</div>
    <div class="reponse" id="tracks">5 tracks en parallèle : <span id="techy" class="tooltip">Techy<span class="classic">Java et son écosystème</span></span>, <span id="agility" class="tooltip">Agility<span class="classic">Agilité pour débutants et passionnés</span></span>, <span id="trendy" class="tooltip">Trendy<span class="classic">Tendances novatrices et avant-gardistes</span></span>, <span id="mixy" class="tooltip">Mixy<span class="classic">Le meilleur de l’agilité et des technologies Java</span></span>, <span id="gamy" class="tooltip">Gamy<span class="classic">Echanges autour de jeux agiles et de coding dojos</span></span>

    </div>

    <div class="question">Quand ?</div>
    <div class="reponse">Mardi 5 Avril 2011 8h30-18h</div>
    <br/>

    <div class="question">Combien de places ?</div>
    <div class="reponse">200 personnes maximum, réservez vite vos places !</div>
    <br/>

    <div class="question">Quel prix ?</div>
    <div class="reponse">20 euros par personne, prix comprenant l'entrée et le repas.</div>
    <br/>

    <div class="question">Où ?</div>
    <div class="reponse">
      E.P.I.T.E.C.H. (Ecole pour l'Informatique et les nouvelles Technologies) - 86 Boulevard Marius Vivier-Merle, 69003 Lyon
      <br/><br/>
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=fr&amp;t=h&amp;msa=0&amp;msid=201130179857627158188.0004920117ae42c9b37f3&amp;ll=45.75896,4.856558&amp;spn=0.01039,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=fr&amp;t=h&amp;msa=0&amp;msid=201130179857627158188.0004920117ae42c9b37f3&amp;ll=45.75896,4.856558&amp;spn=0.01039,0.018239&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Afficher sur une carte plus grande</a></small></div>
</div>
#{nav/}