#{extends 'main.html' /}
#{set title:'Mix-IT' /}
<script type="text/javascript">
    var tags = ["techy","trendy","mixy","agility","gamy"];
    var colors = ["#7FD2FF","#C3FF68","#ADD8C6","#E45635","#FBB829"];
    $(document).ready(function() {
        $("#all").hide();
        $("#all").fadeIn(5000, function() {
			$('#tag').hide();
			boucle();
			function boucle() {
				$('#tag').empty();
				$('#tag').append(nextTag());
				$('#tag').fadeIn(2000, function() {
					$('#tag').fadeOut(2000, boucle)
				});
				function nextTag() {
					var i = Math.floor(Math.random() * 100) % 80;
					$('#tag').css("margin-left", i + "%");
					i = Math.floor(Math.random() * 100) % 50;
					$('#tag').css("margin-top", i + "%");
					i = Math.floor(Math.random() * 5) % 5;
					$('#tag').css('color',colors[i]);
					return tags[i];
				}
			}
		})
	});
</script>
<div id="tag"></div>
<div id="all">
    <div id="main">
        <h1><img class="logo" src="/public/images/logo.png" alt="MIX IT"></h1>

        <h2>... DES IDEES POUR TOUT DE SU<span class="classIT">IT</span>E !</h2>

        <div class="def"> 25 speakers ... Mardi 5 Avril ... Lyon ... 200 participants !</div>
    </div>
  <div style="text-align: center;"><a href="@{Application.inscription()}" class="inscriptionButton">S'inscrire</a></div>
  <table id="indexTable">
    <tr>
      <td width="100%">
        <div id="description">
          <p class="main">Mix-IT est l’aboutissement de la collaboration entre le <a href="http://www.lyonjug.org" style="color: #00ADEE;" target="_blank">Lyon
                JUG</a> et le <a href="http://clubagile.org/" style="color: #00ADEE;" target="_blank">Club Agile Rhône-Alpes</a> qui s’unissent pour vous proposer une journée exceptionnelle autour de l'agilité, des technologies Java/JEE et des tendances novatrices dans les locaux d’ <a href="http://lyon.epitech.net/" style="color: #00ADEE;" target="_blank">Epitech Lyon</a>. Au cours de cette journée participative, venez découvrir, échanger et jouer autour de ces valeurs, méthodes et technologies.</p>
          <div class="question">Pour qui ?</div>
          <div class="reponse">Pour tous les passionnés et les curieux, aussi bien
              les profils techniques que les agilistes, qui veulent découvrir les sujets d'actualité et échanger.
          </div>
          <br/>

          <div class="question">Quel format ?</div>
          <div class="reponse" id="tracks">5 tracks en parallèle : <span class="tooltip techy">Techy<span class="classic">Java et son écosystème</span></span>, <span class="tooltip agility">Agility<span class="classic">Agilité pour débutants et passionnés</span></span>, <span class="tooltip trendy">Trendy<span class="classic">Tendances novatrices et avant-gardistes</span></span>, <span class="tooltip mixy" >Mixy<span class="classic">Le meilleur de l’agilité et des technologies Java</span></span>, <span class="tooltip gamy">Gamy<span class="classic">Echanges autour de jeux agiles et de coding dojos</span></span>
          </div>

          <div class="question">Quand ?</div>
          <div class="reponse">Mardi 5 Avril 2011 8h30-18h</div>
          <br/>

          <div class="question">Combien de places ?</div>
          <div class="reponse">200 personnes maximum, réservez vite vos places !</div>
          <br/>

          <div class="question">Quel prix ?</div>
          <div class="reponse">20 euros par personne, prix comprenant l'entrée et le repas.
          </div>
          <br/>

          <div class="question">Où ?</div>
          <div class="reponse">
            E.P.I.T.E.C.H. (Ecole pour l'Informatique et les nouvelles Technologies) - 86 Boulevard Marius Vivier-Merle, 69003 Lyon
            <br/><br/>
            <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=fr&amp;t=h&amp;msa=0&amp;msid=201130179857627158188.0004920117ae42c9b37f3&amp;ll=45.75896,4.856558&amp;spn=0.01039,0.018239&amp;z=15&amp;source=embed" style="color:#FFF;text-align:left">Afficher la carte</a></small></div>
      </div>
      </td>
  </table>
    #{nav/}
    <div id="links">
        <a href="http://twitter.com/mixIT_Lyon"><img class="image" src="/public/images/icon-twitter.png" alt="twitter"/></a>
        <a type="application/rss+xml" href="http://twiterlist2rss.appspot.com/mixIT_lyon/lists/tweets/statuses.rss">
            <img class="image" src="/public/images/icon-rss.png" alt="rss"/>
        </a>
    </div>
</div>
