#{extends 'main.html' /}
#{set title:'Mix-IT' /}
<script type="text/javascript">
    var tags = ["techy","trendy","mixy","agily","gamy"];
    $(document).ready(function() {
        $("#all").hide();
        $("#all").fadeIn(5000, function() {
			$('#tag').hide();
			boucle();
			function boucle() {
				console.log('boucle')
				$('#tag').empty();
				$('#tag').append(nextTag());
				$('#tag').fadeIn(2000, function() {
					$('#tag').fadeOut(2000, boucle)
				});
				function nextTag() {
					var i = Math.floor(Math.random() * 100) % 80;
					$('#tag').css("margin-left", i + "%");
					i = Math.floor(Math.random() * 100) % 80;
					$('#tag').css("margin-top", i + "%");
					i = Math.floor(Math.random() * 5) % 5;
					return tags[i];
				}
			}
		})
	});
</script>
<div id="tag"></div>
<div id="all">
    <div id="main">
        <h1><img class="logo" src="/public/images/logo.png" alt="MIX IT"></h1>

        <h2>... DES IDEES POUR TOUT DE SUITE !</h2>

        <div class="def"> 25 speakers ... Mardi 5 Avril ... 200 participants !</div>
        <div id="subtitle">
            <h4>Un évènement proposé par le <a href="http://www.lyonjug.org" target="_blank">Lyon
                JUG</a> et le <a href="http://clubagile.org/" target="_blank">Club Agile Rhône-Alpes</a>
            </h4>
        </div>
    </div>
    #{nav/}
    <div id="links">
        <a href="http://twitter.com/mixIT_Lyon"><img class="image" src="/public/images/icon-twitter.png" alt="twitter"/></a>
        <a type="application/rss+xml" href="http://twiterlist2rss.appspot.com/mixIT_lyon/lists/tweets/statuses.rss">
            <img class="image" src="/public/images/icon-rss.png" alt="rss"/>
        </a>
    </div>
</div>
