#{extends 'main.html' /}
#{set title:'Mix-IT' /}
<div id="all">
    <div id="main">
        <h1><img class="logo" src="/public/images/logo.png" alt="MIX IT"></h1>

        <h2>... DES IDEES POUR TOUT DE SU<span class="classIT">IT</span>E !</h2>

        <div class="def">Jeudi 26 avril 2012</div>
        <div class="def">350 participants</div>
        <div class="def">25 sessions</div>
        <div id="blog"><a href="http://blog.mix-it.fr">Blog</a> <a
                href="http://maps.google.fr/maps?q=supinfo+lyon&hl=en&ie=UTF8&ll=45.73444,4.882608&spn=0.029205,0.066047&sll=45.752336,4.85983&sspn=0.014598,0.033023&vpsrc=6&t=w&hq=supinfo&hnear=Lyon,+Rh%C3%B4ne,+Rh%C3%B4ne-Alpes&z=15&iwloc=A&lci=transit_comp"
                target="_blank">Lieu</a></div>
    </div>


    <div id="links">
        <a href="http://twitter.com/mixIT_Lyon"><img class="image" src="/public/images/icon-twitter.png" alt="twitter"/></a>
    </div>
</div>
