#{extends 'main.html' /}
#{set title:'Programme' /}

<table border="1" style="color:white">
  <tr>
    <th>en haut a gauche</th>
    #{list items:tracks, as:'track'}
    <th>${track.name}</th>
    #{/list}
  </tr>
  #{list items:slots, as:'slot'}
    <tr>
      <th>${slot.startTime.format("hh:mm")} - ${slot.endTime.format("hh:mm")}</th>
      #{list items:tracks, as:'track'}
      <td align="center">
      %{
        aSession = track.getSessionForSlot(slot);
        if(aSession)
        {
      }%
          #{session theSession:aSession/}
      %{
        }
        else
        {
      }%
          #{nosession /}
      %{
        }
      }%
      </td>
      #{/list}
    </tr>
    #{/list}

</table>
#{nav/}
        