#{extends 'main.html' /}
#{set title:'Sponsors' /}
#{smallLogo/}

<div align="center">
    <div class="sponsorRow">
        <a href="http://www.kalistick.com/" target="_blank"><img src="/public/images/sponsor_Kalistick.png" width="300px"/></a>
        <a class="sponsor" href="http://www.sqli.com/" target="_blank"><img src="/public/images/sponsor_sqli.png" width="200px"/></a>
    </div>
    <div class="sponsorRow">
        <a href="http://www.objetdirect.com/" target="_blank"><img src="/public/images/sponsor_Objet-Direct.png" width="200px"/></a>
        <a href="http://www.zenika.com/" target="_blank"><img src="/public/images/sponsor_Zenika.gif" width="200px"/></a>
    </div>
    <div class="sponsorRow">
        <a href="http://ut7.fr/" target="_blank"><img src="/public/images/sponsor_Ut7.png" width="100px"/></a>
    </div>
</div>
#{nav/}