#{extends 'main.html' /}
#{set title:'Description' /}

#{smallLogo/}
#{nav/}

<style type="text/css">
    .twitterlink {
        font-weight: bold;
    }

    .desc {
        font-size: 15px;
        color: #DDD;
        font-family: Verdana;
        margin-left: 5%;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    #team {
        margin-left: 10%;
        margin-right: 10%;
    }

    .desc a {
        margin-left: 0px;
        color: #FFF;
    }
</style>

<div id="team">
    <p class="desc">Mix-it est née (mixité) fin novembre 2010 d’une envie commune de créer une conférence moderne à
        Lyon. Une journée où les silos sont amenuisés ou les domaines de connaissances s’assemblent et se complètent.

        L'équipe Mix-IT est Agnès, Cédric, Christophe, Julien, Nicolas et Romain.

        Nous nous présentons :</p>


    <p class="desc"><a href="http://twitter.com/agnes_crepet" class="twitterlink">@agnes_crepet</a> est architecte Java
        EE et Scrum master. Lorsqu’elle travaille sur un projet, elle est heureuse d’y
        appliquer les principes de l'agilité. Elle dispense également des formations autour des méthodes agiles, à la
        fois
        au sein de sa société mais également à
        l'École des Mines de Saint-Étienne. En parallèle du monde professionnel, elle est <a
                href="http://jduchess.org/">JDuchess</a>
        Leader, Lyon JUG Leader et Présidente de l'association <a
                href="http://www.avataria.org/spip/index.php">Avataria</a>
        , organisatrice de concerts et… de Linux Party!
        Suivez la sur <a href="http://twitter.com/agnes_crepet">Twitter</a> ou <a
                href="http://www.linkedin.com/in/agnescrepet">Linkedin</a>.</p>


    <p class="desc"><a href="http://twitter.com/cedric_exbrayat" class="twitterlink">@cedric_exbrayat</a> est expert
        Java,
        passionné de
        technologies web et de qualité logicielle dans une société lyonnaise où il participe aux projets, à la cellule
        de
        veille et donne des formations. La nuit, il enfile son costume de leader du Lyon Java User Group dont il est le
        fondateur et organise des évènements comme Mix-it. Si il reste encore un peu de temps, il développe ses
        connaissances sur les technologies innovantes et partage ses intérêts sur <a
                href="http://twitter.com/cedric_exbrayat">Twitter</a> ou <a
                href="http://www.linkedin.com/in/exbrayatcedric">Linkedin</a>.</p>

    <p class="desc"><a href="http://twitter.com/xphe" class="twitterlink">@christopheney</a> compte plus de dix ans
        d'expérience dans les approches agiles. De
        2003 à 2006, il dirige ObjectWeb (OW2), un consortium fédérant les grands acteurs de l’open-source autour du
        middleware J2EE JOnAS. Impliqué depuis plusieurs années dans le développement de startups du Web2.0 en France et
        en
        Californie, il rejoint en 2009 Agence Interactive comme Directeur Technique Asseocié, il y conduit la mise en
        place
        la mise en place de SCRUM et des pratiques Agiles au sein du pôle technologies. Plus sur <a
                href="http://christophe.batisseurs.com/fr/">christophe.batisseurs.com</a></p>

    <p class="desc"><a href="http://twitter.com/FranckDepierre" class="twitterlink">@franckdepierre</a> fut d’abord un
        globe trotter en
        automation et depuis 10 ans se déchaîne dans la création de produit logiciel. Ayant trouvé dans les méthodes
        agiles
        des principes adaptées au monde logiciel, il l'a mise en place sur la gamme de produit logiciel dont il est
        responsable. Il se passionne désormais pour le lean entrepreneur, product management et technologies
        participatives.
        Suivez le sur <a href="http://blog.lookingforanswers.me/">lookingforanswers.me</a></p>

    <p class="desc"><a href="http://twitter.com/Julien_Ripault" class="twitterlink">@julien_ripault</a> est ingénieur
        R&D
        spécialisé dans
        Java et Flex. Ses occupations principales sont la veille et l’organisation du LyonJUG.</p>

    <p class="desc"><a href="http://twitter.com/romaincouturier" class="twitterlink">@romaincouturier</a>
        Après un cursus en Génie Logiciel et un début de carrière en développement Java chez un éditeur français, Romain
        Couturier a développé le département technique d'une startup à l'étranger en s'appuyant sur les méthodes agiles.
        Déployées aussi bien au niveau des développements, des lignes de services en production que du système
        d'information, Romain Couturier s’est appuyé sur les bonnes pratiques agiles pour conduire la réussite des
        projets,
        l’atteinte des objectifs métiers, la formation des équipes et l’amélioration continue de la qualité de service.
        Fort de cette expérience, Romain Couturier a intégré Exakis où, en tant que responsable du programme pilotage,
        il
        travaille au développement, à la diffusion et à l'enrichissement des pratiques agiles et de gestion de projet.
        En tant que praticien, formateur et coach agile, il accompagne les équipes et les clients finaux sur leur projet
        de
        transformation organisationnelle par l’implantation des méthodes agiles comme processus de production.
        Suivez le sur <a href="http://twitter.com/romaincouturier">Twitter</a> ou <a
                href="http://www.linkedin.com/in/romaincouturier">Linkedin</a>.</p>

    <p class="desc"><a href="http://twitter.com/npelloux" class="twitterlink">@npelloux</a> est consultant R&D et
        passionné par les métiers du développement logiciel. Après cinq années
        d’expérience en tant que développeur en C++ ou .NET, il s’oriente aujourd’hui vers l’accompagnement au
        changement au sein
        d’équipes de développement en s’inspirant des méthodes agiles. Il s'intéresse aussi à ses heures perdues à la
        sécurité informatique et à la cryptographie.</p>
</div>
